<div class="section">
	<%= form_for(@post) do |f| %>


		 <% if @post.errors.any? %>
			<div style="color: red">
	      		<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being created:</h2>

	      		<ul>
	        		<% @post.errors.each do |error| %>
	          		<li><%= error.full_message %></li>
	        	<% end %>
	      		</ul>
	    	</div>
	  	<% end %>

		<div class="field form-group w-25">
	  		<label for="title" class="form-label font-weight-bold">Title</label>
	  		<%= f.text_field :title, class:"form-control" %>
		</div>

		 </br></br>

		<div class="form-group w-50">
	  		<label for="content" class="form-label font-weight-bold">Content</label>
	  		<%= f.text_area :content, class:"form-control" %>

		</div>

		<div class="form-group w-25">
	  		<%= f.number_field :user_id, id: :post_user_id, class:"form-control", value: current_user.id, type: :hidden %>

		</div>

		<%= f.button :submit, class: 'btn btn-primary' %>
		<%= link_to 'Back', posts_path, class:"btn btn-dark" %>
	
		
	<% end %>

</div>